*.sw[op]
*.egg-info
dist/
__pycache__
.env
.data/
__MACOSX
.DS_Store
build/
venv/
.venv/
.idea/
results/
logs/
/VectorDBBenchEnv
/VectorDBBenchEnv
/VectorDBBenchEnv
/VectorDBBenchEnv
/VectorDBBenchEnv
/VectorDBBenchEnv/lib/python3.11/site-packages
